<div class="container">
    <app-title-bar [title]="('TITLE.' + title | translate)"></app-title-bar> 
    <div class="top-right-div">
        <app-user-filters
            [minLimits]="teamMinLimits"
            [maxLimits]="teamMaxLimits"
            [realOvertimes]="teamRealOvertimes"
            [employees]="allManagers"
            (filteredEmployees)="onFilteredEmployees($event)">
        </app-user-filters>
        <button class="submit-btn" (click)="goBack()">{{'BUTTON.BACK' | translate}}</button>
    </div>
    <div class="row-aligned">
        <app-months-table></app-months-table>
        <div class="overtime-form-row" *ngIf="!loading">
            <table class="excel-table limits-table" id="limits-table" *ngIf="isTableVisible">
                <thead>
                    <tr>
                        <th (click)="toggleSortBySegment()" class="sortable-table-column">
                            <span>{{'SEGMENT' | translate}}</span>
                            <i class="fas fa-sort" *ngIf="segmentSortState === 0"></i>
                            <i class="fas fa-sort-up" [class.inactive]="segmentSortState !== 1"></i>
                            <i class="fas fa-sort-down" [class.inactive]="segmentSortState !== 2"></i>
                        </th>
                        <th (click)="toggleSortByMinLimit()" class="sortable-table-column">
                            <span>{{'MIN-LIMIT' | translate}}</span>
                            <i class="fas fa-sort" *ngIf="minLimitSortState === 0"></i>
                            <i class="fas fa-sort-up" [class.inactive]="minLimitSortState !== 1"></i>
                            <i class="fas fa-sort-down" [class.inactive]="minLimitSortState !== 2"></i>
                        </th>
                        <th (click)="toggleSortByMaxLimit()" class="sortable-table-column">
                            <span>{{'MAX-LIMIT' | translate}}</span>
                            <i class="fas fa-sort" *ngIf="maxLimitSortState === 0"></i>
                            <i class="fas fa-sort-up" [class.inactive]="maxLimitSortState !== 1"></i>
                            <i class="fas fa-sort-down" [class.inactive]="maxLimitSortState !== 2"></i>
                        </th>
                        <th (click)="toggleSortByRealOvertimes()" class="sortable-table-column">
                            <span>{{'REAL-OVERTIMES' | translate}}</span>
                            <i class="fas fa-sort" *ngIf="realOvertimesSortState === 0"></i>
                            <i class="fas fa-sort-up" [class.inactive]="realOvertimesSortState !== 1"></i>
                            <i class="fas fa-sort-down" [class.inactive]="realOvertimesSortState !== 2"></i>
                        </th>
                        <!-- <th (click)="toggleSortByApproved()" class="sortable-table-column">
                            <span>{{'APPROVED' | translate}}</span>
                            <i class="fas fa-sort" *ngIf="approvedSortState === 0"></i>
                            <i class="fas fa-sort-up" [class.inactive]="approvedSortState !== 1"></i>
                            <i class="fas fa-sort-down" [class.inactive]="approvedSortState !== 2"></i>
                        </th> -->
                        <th>{{'APPROVED' | translate}}</th>
                        <!-- <th (click)="toggleSortByComment()" class="sortable-table-column">
                            <span>{{'MNG-RND-COMMENT' | translate}}</span>
                            <i class="fas fa-sort" *ngIf="commentSortState === 0"></i>
                            <i class="fas fa-sort-up" [class.inactive]="commentSortState !== 1"></i>
                            <i class="fas fa-sort-down" [class.inactive]="commentSortState !== 2"></i>
                        </th> -->
                        <th>{{'MNG-RND-COMMENT' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let manager of filteredManagers">
                        <td (dblclick)="showTeamsSite(manager)" title="Detail" class="cursor-pointer">{{manager.firstName}} {{manager.lastName}}</td>
                        <td><input type="number" [ngModel]="teamMinLimits.get(manager.username)" (ngModelChange)="teamMinLimits.set(manager.username, $event)" min="0" step="0.5" disabled=""></td>
                        <td><input type="number" [ngModel]="teamMaxLimits.get(manager.username)" (ngModelChange)="teamMaxLimits.set(manager.username, $event)" min="0" step="0.5" disabled=""></td>
                        <td [ngClass]="getOvertimeStatus(manager)">{{teamRealOvertimes.get(manager.username)}}</td>
                        <td><input type="checkbox" (change)="setTeamApproved(manager, $event)" [checked]="teamApproved.get(manager.username)" [disabled]="approvedDisabled || isPastMonth(selectedMonth)" ></td>
                        <td><textarea [disabled]="isPastMonth(selectedMonth)"></textarea></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="centered-div">
                <button class="submit-btn" (click)="showTeamsSite()">{{'BUTTON.SHOW-TEAMS' | translate}}</button>
            </div> -->
            <div class="bottom-right-div">
                <button class="submit-btn" (click)="saveChanges()" *ngIf="!isPastMonth(selectedMonth)">{{ 'BUTTON.SAVE-CHANGES' | translate }}</button>
            </div>
        </div>
        <div *ngIf="loading" class="overtime-form-row">Loading...</div> 
</div>