<div class="container">
    <app-title-bar [title]="title"></app-title-bar>
    
    <div >
        <div class="wf-btn">
            <button class="submit-btn" (click)="showWF()">{{'SHOW-WF'| translate}}</button>
        </div>
        <!-- <div class="sidebar" [class.active]="isSidebarActive()">
            <div class="sidebar-content">
                <div *ngIf="isSidebarVisible()">
                    <table class="excel-table">
                        <thead>
                            <tr>
                                <th>{{'PERSONAL-NUMBER' | translate}}</th>
                                <th>{{'COST-CENTER' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{employee?.personalNumber}}</td>
                                <td>{{employee?.costCenter}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row-aligned">
            <div *ngIf="!isSidebarVisible() " class="personal-data">
                <table class="excel-table personal-data-table">
                    <thead>
                        <tr>
                            <th>{{'PERSONAL-NUMBER' | translate}}</th>
                            <th>{{'COST-CENTER' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{employee?.personalNumber}}</td>
                            <td>{{employee?.costCenter}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
        
        <div class="row-aligned">
            <app-months-table></app-months-table>
            <div *ngIf="loading" class="overtime-form-row">Loading...</div>
            <div class="overtime-form-row" *ngIf="!loading">
                <table class="excel-table limits-table" id="limits-table" *ngIf="isTableVisible">
                    <thead>
                        <tr>
                            <th>{{'PERSONAL-NUMBER' | translate}}</th>
                            <th>{{'EMPLOYEE' | translate}}</th>
                            <th>{{'MIN-LIMIT' | translate}}</th>
                            <th>{{'MAX-LIMIT' | translate}}</th>
                            <th>{{'REAL-OVERTIMES' | translate}}</th>
                            <th>{{'REASON' | translate}}</th>
                            <th>{{'APPROVED' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{employee?.personalNumber}}</td>
                            <td>{{employee?.firstName}} {{employee?.lastName}}</td>
                            <td><input type="number" [(ngModel)]="minOvertime" min="0" step="0.5" [disabled]="isPastMonth(selectedMonth)"></td>
                            <td><input type="number" [(ngModel)]="maxOvertime" min="0" step="0.5" [disabled]="isPastMonth(selectedMonth)"></td>
                            <td [ngClass]="getOvertimeStatus()">{{realOvertime}}</td>
                            <td><!--<input type="text" [(ngModel)]="overtimeReason">-->Nič zatiaľ</td> <!-- PRIDAT DO DB overtime_limit reason-->
                            <td><input type="checkbox" [(ngModel)]="approved" disabled></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottom-right-div">
                <button class="submit-btn" (click)="saveLimits()" [disabled]="isPastMonth(selectedMonth)">{{ 'BUTTON.SAVE-CHANGES' | translate }}</button>
            </div> 
        </div>
    </div>
    
    
</div>
