<!-- <div class="container">
    <app-title-bar [title]="title"></app-title-bar>
        <form *ngIf="currentForm === 'segmentForm'" name="segmentForm" class="overtime-form">
            <div>
                <label for="personUserName">Username:</label>
                <input type="text" id="personUserName" name="personUserName" [(ngModel)]="segmentManager.personUserName" required readonly>
            </div>
            <div>
                <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="segmentManager.overtimeMaxLimit" required readonly>
            </div>
            <div>
                <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="segmentManager.overtimeMinLimit" required readonly>
            </div>
            <div>
                <label for="realOvertime">Reálny počet hodín:</label>
                <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="segmentManager.realOvertime" [ngClass]="getOvertimeStatus(segmentManager)" required readonly>
            </div>
            <div class="submit-btn-container">
                <button type="button" class="submit-btn" (click)="showForm('TLForm')">Zobraz tímy</button>
            </div>
        </form>

        <h3 *ngIf="currentForm === 'TLForm'" class="header-TL">Team Leaders</h3>
        <app-user-filters *ngIf="currentForm === 'TLForm'"></app-user-filters>
        <div *ngIf="currentForm === 'TLForm'" class="div-of-form">
            
            <form name="TLForm" *ngFor="let user of teamLeaders" class="overtime-form-tl">
                <div>
                    <label for="personUserName">Username:</label>
                    <input type="text" id="personUserName" name="personUserName" [(ngModel)]="user.personUserName" required readonly>
                </div>
                <div>
                    <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                    <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="user.overtimeMaxLimit" required readonly>
                </div>
                <div>
                    <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                    <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="user.overtimeMinLimit" required readonly>
                </div>
                <div>
                    <label for="realOvertime">Reálny počet hodín:</label>
                    <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="user.realOvertime" [ngClass]="getOvertimeStatus(user)" required readonly>
                </div>
                <div class="submit-btn-container">
                    <button type="submit" class="submit-btn" (click)="onTLButtonClick(user)">Zobraz členov tímu</button>
                </div>
            </form>
            <div class="submit-btn-container">
                <button type="button" class="submit-btn back-btn" (click)="showForm('segmentForm')">Späť</button>
            </div>
        </div>

        <h3 *ngIf="currentForm === 'THPForm'" class="header-TL">{{filterTL?.firstName + ' ' + filterTL?.lastName}}</h3>
        <div *ngIf="currentForm === 'THPForm'" class="div-of-form">
            <form name="THPForm" *ngFor="let user of filteredUsers" class="overtime-form-tl">
                <div>
                    <label for="personUserName">Username:</label>
                    <input type="text" id="personUserName" name="personUserName" [(ngModel)]="user.personUserName" required readonly>
                </div>
                <div>
                    <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                    <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="user.overtimeMaxLimit" required readonly>
                </div>
                <div>
                    <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                    <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="user.overtimeMinLimit" required readonly>
                </div>
                <div>
                    <label for="realOvertime">Reálny počet hodín:</label>
                    <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="user.realOvertime" [ngClass]="getOvertimeStatus(user)" required readonly>
                </div>
            </form>
            <div class="submit-btn-container">
                <button type="button" class="submit-btn back-btn" (click)="showForm('TLForm')">Späť</button>
            </div>
        </div>
</div> -->

<div class="container">
    <app-title-bar [title]="('TITLE.' + title | translate) + segment"></app-title-bar>    
    <div class="row-aligned">
        <app-months-table></app-months-table>
        <div class="overtime-form-row" *ngIf="!loading">
            <table class="excel-table limits-table" id="limits-table" *ngIf="isTableVisible">
                <thead>
                    <tr>
                        <th>{{'SUMMARY' | translate}}</th>
                        <th>{{'MIN-LIMIT' | translate}}</th>
                        <th>{{'MAX-LIMIT' | translate}}</th>
                        <th>{{'REAL-OVERTIMES' | translate}}</th>
                        <th>{{'MNG-RND-COMMENT' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{'TITLE.' + title | translate}}{{segment}}</td>
                        <td><input type="number" [(ngModel)]="minOvertimeSum" min="0" disabled=""></td>
                        <td><input type="number" [(ngModel)]="maxOvertimeSum" min="0" disabled=""></td>
                        <!-- <td></td> -->
                        <td [ngClass]="getOvertimeStatusSum()">{{realOvertimeSum}}</td>
                        <td><!--{{commentMng}}--></td>
                    </tr>
                </tbody>
            </table>
            <div class="centered-div">
                <button class="submit-btn" (click)="showSite('mng/teams')">{{'BUTTON.SHOW-TEAMS' | translate}}</button>
            </div>
        </div>
        <div *ngIf="loading" class="overtime-form-row">Loading...</div> 
</div>