<div class="container">
    <app-title-bar [title]="('TITLE.' + title | translate)"></app-title-bar>
    <div class="top-right-div">
        <div></div>
        <!-- <button class="submit-btn" (click)="showSite('tl/team')">{{'BUTTON.BACK' | translate}}</button> -->
        <button class="submit-btn" (click)="goBack()">{{'BUTTON.BACK' | translate}}</button>
    </div>
    <div class="row-aligned">
        <app-months-table></app-months-table>
        <div class="overtime-form-col centered-div">
            <table class="excel-table limits-table">
                <thead>
                    <tr>
                        <th colspan="2">{{selectedEmployee?.firstName}} {{selectedEmployee?.lastName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{'MIN-LIMIT' | translate}}</td>
                        <td><input type="number" [(ngModel)]="minLimit" min="0" step="0.5" [disabled]="isPastMonth(selectedMonth)"></td>
                    </tr>
                    <tr>
                        <td>{{'MAX-LIMIT' | translate}}</td>
                        <td><input type="number" [(ngModel)]="maxLimit" min="0" step="0.5" [disabled]="isPastMonth(selectedMonth)"></td>
                    </tr>
                    <tr>
                        <td>{{'REAL-OVERTIMES' | translate}}</td>
                        <td [ngClass]="selectedEmployee ? getOvertimeStatus(selectedEmployee) : ''">{{realOvertime}}</td>
                    </tr>
                    <tr>
                        <td>{{'HO-OVERTIMES' | translate}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{'OFFICE-OVERTIMES' | translate}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>{{'REASON' | translate}}</td>
                        <td><textarea [ngModel]="reason" [disabled]="isPastMonth(selectedMonth)"></textarea></td>
                    </tr>
                    <tr>
                        <td>{{'APPROVED' | translate}}</td>
                        <td><input type="checkbox" [(ngModel)]="approved" disabled></td>
                    </tr>
                    <!-- <tr>
                        <td>{{'CHANGE-REQUESTS' | translate}}</td>
                        <td><input type="checkbox" name="changeRequest" id="changeRequest" disabled></td>
                    </tr> -->
                </tbody>
            </table>
            <div class="button-container">
                <button class="submit-btn" (click)="showChangeRequests()" *ngIf="requests.length > 0">{{ 'CHANGE-REQUESTS' | translate }}</button>
                <button class="submit-btn" (click)="saveLimits()">{{ 'BUTTON.SAVE-CHANGES' | translate }}</button>
            </div>
            <app-draggable-modal #myModal [title]="'CHANGE-REQUESTS' | translate" [hidden]="false">
                <div class="modal-content">
                    <div class="overtime-form-col">
                        <table class="excel-table limits-table" *ngFor="let changeRequest of requests; let i = index">
                            <thead>
                                <tr>
                                    <th colspan="2">{{'CHANGE-REQUEST' | translate}} #{{i + 1}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{'MIN-LIMIT' | translate}}</td>
                                    <td>{{changeRequest.minHours}}</td>
                                </tr>
                                <tr>
                                    <td>{{'MAX-LIMIT' | translate}}</td>
                                    <td>{{changeRequest.maxHours}}</td>
                                </tr>
                                <tr>
                                    <td>{{'REASON' | translate}}</td>
                                    <td><textarea [disabled]="true">{{changeRequest.reason}}</textarea></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="submit-btn" (click)="closeModal()">{{'CLOSE' | translate}}</button>
                    </div>
                </div>
            </app-draggable-modal>
        </div>
    </div>
    
</div>
