<!-- <div class="container">
    <app-title-bar [title]="title"></app-title-bar>
    

    <div *ngIf="currentForm === 'RnDForm' && isFormOpen" class="collapsible" >
        <form name="RnDForm" class="overtime-form">
            <-- <h3>Segment D{{user.dSegment}}</h3> --
            <h3>Nadčasy R&D Kysuce</h3>
            <div>
                <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="rndManager.overtimeMaxLimit" required >
            </div>
            <div>
                <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="rndManager.overtimeMinLimit" required >
            </div>
            <div>
                <label for="realOvertime">Reálny počet hodín:</label>
                <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="rndManager.realOvertime" [ngClass]="getOvertimeStatus(rndManager)" required readonly>
            </div>
            <div class="submit-btn-container">
                <button type="button" class="submit-btn" (click)="showForm('segmentForm')">Zobraz D segmenty</button>
            </div>
        </form>
    </div>


    <div *ngFor="let user of segmentManagers">
        <h3  *ngIf="!isFormOpen">Segment D{{user.dSegment}}</h3>
    </div>
    <app-user-filters *ngIf="currentForm === 'segmentForm' && isFormOpen"></app-user-filters>
    <div *ngIf="currentForm === 'segmentForm' && isFormOpen" class="div-of-segments" >
        <div class="submit-btn-container">
            <button type="button" class="submit-btn back-btn" (click)="showForm('RnDForm')">Späť</button>
        </div>
        <form name="segmentForm" *ngFor="let user of segmentManagers" class="overtime-form">
            <h3>Segment D{{user.dSegment}}</h3>
            <div>
                <label for="personUserName">Username:</label>
                <input type="text" id="personUserName" name="personUserName" [(ngModel)]="user.personUserName" required readonly>
            </div>
            <div>
                <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="user.overtimeMaxLimit" required readonly>
            </div>
            <div>
                <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="user.overtimeMinLimit" required readonly>
            </div>
            <div>
                <label for="realOvertime">Reálny počet hodín:</label>
                <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="user.realOvertime" [ngClass]="getOvertimeStatus(user)" required readonly>
            </div>
            <div class="submit-btn-container">
                <button type="button" class="submit-btn" (click)="showForm('TLForm')">Zobraz tímy</button>
            </div>
        </form>
        
    </div>


    <h3 *ngIf="currentForm === 'TLForm'" class="header-TL">Team Leaders</h3>
    <app-user-filters *ngIf="currentForm === 'TLForm' && isFormOpen"></app-user-filters>
    <div *ngIf="currentForm === 'TLForm'" class="div-of-form">
        
        <form name="TLForm" *ngFor="let user of teamLeaders" class="overtime-form-tl">
            <div>
                <label for="personUserName">Username:</label>
                <input type="text" id="personUserName" name="personUserName" [(ngModel)]="user.personUserName" required readonly>
            </div>
            <div>
                <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="user.overtimeMaxLimit" required readonly>
            </div>
            <div>
                <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="user.overtimeMinLimit" required readonly>
            </div>
            <div>
                <label for="realOvertime">Reálny počet hodín:</label>
                <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="user.realOvertime" [ngClass]="getOvertimeStatus(user)" required readonly>
            </div>
            <div class="submit-btn-container">
                <button type="submit" class="submit-btn" (click)="onButtonClick(user, 'THPForm')">Zobraz členov tímu</button>
            </div>
        </form>
        <div class="submit-btn-container">
            <button type="button" class="submit-btn back-btn" (click)="showForm('segmentForm')">Späť</button>
        </div>
    </div>


    <h3 *ngIf="currentForm === 'THPForm'" class="header-TL">{{filterTL?.firstName + ' ' + filterTL?.lastName}}</h3>
    <app-user-filters *ngIf="currentForm === 'THPForm' && isFormOpen"></app-user-filters>
    <div *ngIf="currentForm === 'THPForm'" class="div-of-form">
        <div class="submit-btn-container">
            <button type="button" class="submit-btn back-btn" (click)="showForm('TLForm')">Späť</button>
        </div>
        <form name="THPForm" *ngFor="let user of filteredUsers" class="overtime-form-tl">
            <div>
                <label for="personUserName">Username:</label>
                <input type="text" id="personUserName" name="personUserName" [(ngModel)]="user.personUserName" required readonly>
            </div>
            <div>
                <label for="overtimeMaxLimit">Maximum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMaxLimit" name="overtimeMaxLimit" [(ngModel)]="user.overtimeMaxLimit" required readonly>
            </div>
            <div>
                <label for="overtimeMinLimit">Minimum nadčasov za mesiac:</label>
                <input type="number" id="overtimeMinLimit" name="overtimeMinLimit" [(ngModel)]="user.overtimeMinLimit" required readonly>
            </div>
            <div>
                <label for="realOvertime">Reálny počet hodín:</label>
                <input type="number" id="realOvertime" name="realOvertime" [(ngModel)]="user.realOvertime" [ngClass]="getOvertimeStatus(user)" required readonly>
            </div>
        </form>
        
    </div>
</div> -->

<div class="container">
    <app-title-bar [title]="('TITLE.' + title | translate)"></app-title-bar>    
    <div class="row-aligned">
        <app-months-table></app-months-table>
        <div class="overtime-form-row" *ngIf="!loading">
            <table class="excel-table limits-table" id="limits-table" *ngIf="isTableVisible">
                <thead>
                    <tr>
                        <th>{{'SUMMARY' | translate}}</th>
                        <th>{{'MIN-LIMIT' | translate}}</th>
                        <th>{{'MAX-LIMIT' | translate}}</th>
                        <th>{{'REAL-OVERTIMES' | translate}}</th>
                        <!-- <th>{{'APPROVED' | translate}}</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{'TITLE.' + title | translate}}</td>
                        <td><input type="number" [(ngModel)]="minOvertimeSum" min="0" disabled=""></td>
                        <td><input type="number" [(ngModel)]="maxOvertimeSum" min="0" disabled=""></td>
                        <!-- <td></td> -->
                        <td [ngClass]="getOvertimeStatusSum()">{{realOvertimeSum}}</td>
                        <!-- <td><input type="checkbox" name="approved" id="approved" [disabled]="approvedDisabled"></td> -->
                    </tr>
                </tbody>
            </table>
            <div class="centered-div">
                <button class="submit-btn" (click)="showSite('rnd/segments')">{{'BUTTON.SHOW-SEGMENTS' | translate}}</button>
            </div>
        </div>
        <div *ngIf="loading" class="overtime-form-row">Loading...</div> 
</div>