
<div *ngIf="!isSidebarVisible()">
    <div class="filter-btn-container">
        <button (click)="toggleFilters()" class="submit-btn">{{showFilters ? ('BUTTON.HIDE' | translate) : ('BUTTON.SHOW' | translate)}} {{'BUTTON.FILTERS' | translate}}</button>
        <button (click)="resetFilters()" class="submit-btn" *ngIf="showFilters">{{'BUTTON.DELETE' | translate}} {{'BUTTON.FILTERS' | translate}}</button>
    </div> 
    
        <div class="filter-container" *ngIf="showFilters">
            <div class="overtime-form">
                <div class="filter">
                  <!-- <label for="filter-select">Limity: </label> -->
                  <select class="filter-select" name="filter-select" id="filter-select" [(ngModel)]="filter" (ngModelChange)="filterEmployees()">
                    <option value="all" selected>{{'LIMITS.ALL' | translate}}</option>
                    <option value="overtime-in-limit">{{'LIMITS.FULFILLED' | translate}}</option>
                    <option value="overtime-off-limit">{{'LIMITS.NOT-FULFILLED' | translate}}</option>
                  </select>
                </div>
                <div class="filter">
                  <label for="departmentsSelect">{{'SEGMENT' | translate}}</label>
                  <select class="filter-select" name="departmentsSelect" id="departmentsSelect" (change)="filterEmployees()" (change)="setDSegment()">
                      <option value="ALL">{{'ALL' | translate}}</option>
                      <option *ngFor="let department of departments" [ngValue]="department">{{department}}</option>
                  </select>
                </div>
            </div>
            <div class="input-filters overtime-form">
                <div class="filter">
                  <label for="personalNumber">{{'PERSONAL-NUMBER' | translate}}: </label>
                  <input type="text" id="personalNumber" [(ngModel)]="personalNumber" (ngModelChange)="filterEmployees()">
                </div>
                <!-- <div class="filter">
                  <label for="manager">{{'SUPERIOR' | translate}}: </label>
                  <input type="text" id="manager" [(ngModel)]="managerUsername" (ngModelChange)="filterEmployees()">
                </div> -->
                <!-- <div class="filter">
                  <label for="dSegment">{{'D-SEGMENT' | translate}}: </label>
                  <input type="text" id="dSegment" [(ngModel)]="dSegment" (ngModelChange)="filterEmployees()">
                </div> -->
                <!-- <div class="filter">
                  <label for="username">{{'USERNAME' | translate}}: </label>
                  <input type="text" id="username" [(ngModel)]="username" (ngModelChange)="filterEmployees()">
                </div> -->
                <div class="filter">
                  <label for="lastName">{{'LASTNAME' | translate}}: </label>
                  <input type="text" id="lastName" [(ngModel)]="lastName" (ngModelChange)="filterEmployees()">
                </div>
                <div class="filter">
                  <label for="firstName">{{'FIRSTNAME' | translate}}: </label>
                  <input type="text" id="firstName" [(ngModel)]="firstName" (ngModelChange)="filterEmployees()">
                </div>
            </div>
        </div>
    
    <div class="sidebar" [class.active]="isSidebarActive()">
        <div class="filter-btn-container">
            <button (click)="resetFilters()" class="submit-btn">{{'BUTTON.DELETE' | translate}} {{'BUTTON.FILTERS' | translate}}</button>
        </div>
        <div class="overtime-form">
            <div class="filter">
              <!-- <label for="filter-select">Limity: </label> -->
              <select class="filter-select" name="filter-select" id="filter-select" [(ngModel)]="filter">
                <option value="all" selected>{{'LIMITS.ALL' | translate}}</option>
                <option value="overtime-in-limit">{{'LIMITS.FULFILLED' | translate}}</option>
                <option value="overtime-off-limit">{{'LIMITS.NOT-FULFILLED' | translate}}</option>
              </select>
            </div>
        </div>
        <div class="input-filters overtime-form">
          <div class="filter">
            <label for="personalNumber">{{'PERSONAL-NUMBER' | translate}}: </label>
            <input type="text" id="personalNumber" [(ngModel)]="personalNumber">
          </div>
          <!-- <div class="filter">
            <label for="manager">{{'SUPERIOR' | translate}}: </label>
            <input type="text" id="manager" [(ngModel)]="manager">
          </div>
          <div class="filter">
            <label for="dSegment">{{'D-SEGMENT' | translate}}: </label>
            <input type="text" id="dSegment" [(ngModel)]="dSegment">
          </div> -->
          <div class="filter">
            <label for="username">{{'USERNAME' | translate}}: </label>
            <input type="text" id="username" [(ngModel)]="username">
          </div>
      </div>
    </div>
</div>