<div class="container">
    <app-title-bar [title]="('TITLE.' + title | translate)"></app-title-bar>
    <div class="top-right-div">
        <app-user-filters></app-user-filters>
        <!-- <button class="submit-btn" (click)="showSite('tl')">{{'BUTTON.BACK' | translate}}</button> -->
        <button class="submit-btn" (click)="goBack()">{{'BUTTON.BACK' | translate}}</button>
    </div>
    <div class="row-aligned">
        <app-months-table></app-months-table>
    <div *ngIf="loading" class="overtime-form-row">Loading...</div>
    <div class="overtime-form-row" *ngIf="!loading">
        <div>
            <table class="excel-table limits-table" id="limits-table">
                <thead>
                    <tr>
                        <th>{{'EMPLOYEE' | translate}}</th>
                        <th>{{'MIN-LIMIT' | translate}}</th>
                        <th>{{'MAX-LIMIT' | translate}}</th>
                        <th>{{'REAL-OVERTIMES' | translate}}</th>
                        <th>{{'REASON' | translate}}</th>
                        <th>{{'APPROVED' | translate}}</th>
                    </tr>
                </thead>
                <tbody [formGroup]="overtimeForm">
                    <tr *ngFor="let member of team">
                        <td (dblclick)="selectEmployee(member)" title="Detail" class="cursor-pointer">{{member?.firstName}} {{member?.lastName}}</td>
                        <td><input type="number" [formControlName]="member.username + '_min'" min="0" step="0.5"></td>
                        <td><input type="number" [formControlName]="member.username + '_max'" min="0" step="0.5"></td>
                        <td [ngClass]="getOvertimeStatus(member)">{{teamRealOvertimes.get(member.username)}}</td>
                        <td><!--<input type="text" [(ngModel)]="overtimeReason">-->Nič zatiaľ</td> <!-- PRIDAT DO DB overtime_limit reason-->
                        <td><!--<input type="checkbox" [(ngModel)]="approved" disabled>--></td>
                    </tr>
                    <tr>
                        <td class="light-green" style="font-weight: bold;">{{'SUMMARY' | translate}}</td>
                        <td class="light-green"><input type="number" [formControlName]="'minOvertimeSum'" min="0"></td>
                        <td class="light-green"><input type="number" [formControlName]="'maxOvertimeSum'" min="0"></td>
                        <td class="light-green" [ngClass]="getOvertimeStatusSum()">{{realOvertimeSum}}</td>
                        <td class="light-green"><!--{{commentMng}}--></td>
                        <td class="light-green"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="bottom-right-div">
            <button class="submit-btn" (click)="saveLimits()">{{ 'BUTTON.SAVE-CHANGES' | translate }}</button>
        </div>
    </div>
</div>

