$window-width-max: 470px;
$window-width-min: 471px;
$limits-table-max-width: 800px;

@import "../node_modules/apexcharts/dist/apexcharts.css";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  overflow-x: auto;
}

.container {
  width: 95%;
  height: 95%;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  
}

.filter-btn-container {
  display: flex;
  justify-content: left;
  padding: 10px;
}

.filter-btn-container button {
  margin: 10px;
}

.filter-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
  // appearance: none; /* Remove default arrow */
  // background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#333" d="M2 0L0 2h4z"/></svg>');
  // background-repeat: no-repeat;
  // background-position: right 10px center;
  // background-size: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

.input-filters {
  display: flex;
  flex-direction: row;
}

.filter input{
  border-radius: 8px;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  clear: both;
}

.button-container button {
  flex: 1;
  margin: 10px;
}

.personal-data {
  width: 100%;
  max-width: 35%;
  justify-content: space-between;
  align-items: end;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  // margin: 0 auto;
}

.personal-data div {
  width: 100%;
  max-width: 50%;
  padding: 5px;
  margin: 0 auto;
  min-width: 100px;
  width: max-content;
}


.title-bar {
  background-color: #08954c; /* Green background */
  padding: 10px;
  display: grid;
  align-items: center; /* Vertically center the items */
  // justify-content: center; /* Distribute space between items */
  border-radius: 8px; /* Rounded corners at the top */
  // position: relative;
  grid-template-columns: 1fr 1fr 1fr; /* Define three columns */
}

.title-bar a {
  display: inline-block;
  max-width: 100%;
  max-width: 250px;
  align-items: center;
  // position: relative;
  grid-column: 1;
}

.title-image {
  height: auto;
  width: 100%; /* Adjust the width as needed */
  max-width: 250px; /* Maximum width */
  align-items: center;
  grid-column: 1;
}

.top-title {
  color: #fff; /* White text color */
  text-align: center;
  margin: 0;  
  grid-column: 2;
  // flex-grow: 1; /* Grow to fill the remaining space */
}

.rules-btn {
  justify-self: end;
  align-items: end;
  grid-column: 3;

  background-color: white; /* Green background */
  color: black; /* White text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* Initially hide the sidebar */
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar.active {
  right: 0; /* Show the sidebar */
}

.sidebar-content {
  padding: 20px;
}

.sidebar-toggle {
  display: none;
  position: fixed;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
  grid-column: 3;
  position: absolute;
}

.sidebar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: #fff;
}

h2 {
  color: #333;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.low-value {
  color: #eb0f0f !important; /* Light red background */
  font-weight: bold;
}

.medium-value {
  color: #26c726 !important; /* Light green background */
  font-weight: bold;
}

.high-value {
  color: #eb0f0f !important; /* Light red background */
  font-weight: bold;
}

input[readonly] {
  background-color: #e9ecef; /* Light grey background */
  color: #6c757d; /* Grey text color */
  border-radius: 10px;
}

.submit-btn {
  background-color: #08954c; /* Green background */
  color: #fff; /* White text color */
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.back-btn {
  position: absolute;
  right: 10px;
  top: auto;
  bottom: auto;
  left: auto;
  // margin-left: auto;
}

.submit-btn:hover {
  background-color: #0a8d46; /* Darker green */
}

table.excel-table {
  width: fit-content;
  border-collapse: collapse;
  margin-top: 20px;
}

table.excel-table th {
  background-color: #08954c;  /* Header background color */
  color: white;                /* Header text color */
  padding: 10px;               /* Padding around text */
  text-align: center;            /* Center-align the text */
  border: 1px solid #dddddd;   /* Border around header cells */
}

table.excel-table td {
  padding: 10px;               /* Padding around text */
  border: 1px solid #dddddd;   /* Border around cells */
  background-color: #ffffff;   /* Cell background color */
  text-align: center;            /* Center-align the text */
}

table.excel-table tr.selected td {
  background-color: #c0c9be !important;
}

table.excel-table tr:nth-child(even) {
  background-color: #f2f2f2;   /* Alternate row color */
}

table.excel-table td:hover {
  background-color: #e0f7fa;   /* Hover color for rows */
  transition: background-color 0.3s; /* Transition effect */
  // cursor: pointer;
}

.row-aligned {
  display: flex;
}

.col-aligned {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.wf-btn {
  padding: 20px;
  padding-left: 0;
}

.overtime-form-row {
  width: 100%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  // display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 0 auto;
}

.overtime-form-col {
  width: 100%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  // display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0 auto;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  
  //height: 100vh;
}

.top-right-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.bottom-right-div {
  position: absolute;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.light-green {
  background-color: #c3dec8 !important;
}

.table-border {
  border: 1.5px solid black;
}

.cursor-pointer {
  cursor: pointer;
}

// .language-selector {
//   display: flex;
//   gap: 10px;
// }

// .language-selector button {
//   background: none;
//   border: none;
//   cursor: pointer;
//   font-size: 1.2rem;
//   display: flex;
//   align-items: center;
//   gap: 5px;
// }

// .language-selector button:hover {
//   color: #007bff;
// }

.dropdown {
  position: relative;
  display: inline-block;


  .drop-btn {
    background-color: #08954c;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;

    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  &:hover .dropdown-content {
    display: block;
  }

  &:hover .drop-btn {
    background-color: #0a8d46;
  }
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

body.dark-mode .container-dark-mode {
  background-color: #121212;
  color: #ffffff;
}

@media (max-width: $limits-table-max-width) {
  .limits-table {
    display: none;
  }
}

@media (max-width: $window-width-max) {
  .personal-data-table {
    display: none;
  }

  .container {
    padding: 15px;
  }

  input, button {
    font-size: 14px;
  }

  .title-image {
    width: 50%; /* Adjust the width for smaller screens */
    max-width: 200px; /* Maximum width for smaller screens */
    display: none; /* Hide the image */
  }

  .title-image-link {
    display: none; /* Hide the logo on small screens */
  }

  .personal-data {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    align-items: end;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
  .sidebar-toggle {
    display: block; /* Show the toggle button on small screens */
  }

  .input-filters {
    display: flex;
    flex-direction: column;
  }

  .back-btn {
    // position: relative;
    float: right;
    right: 1px;
    top: auto;
    bottom: auto;
    left: auto;
    // margin-left: auto;
  }


}

@media (min-width: $window-width-min) {  
    .sidebar-toggle {
      display: none; /* Hide the toggle button on larger screens */
    }
    .sidebar {
      display: none;
    }
    .personal-data {
      width: 100%;
      max-width: 35%;
      justify-content: space-between;
      align-items: end;
      display: flex;
      flex-direction: row;
      padding-bottom: 20px;
  
      // margin: 0 auto;
    }
  
    .personal-data div {
      width: 100%;
      max-width: 50%;
      padding: 5px;
      margin: 0 auto;
      min-width: 100px;
      width: max-content;
    }
}